pytest==8.4.1
pylint==3.3.8
ipdb==0.13.13
jupyterlab==4.4.6
numpy==2.2.6
pandas==2.3.2
matplotlib==3.10.5
seaborn==0.13.2
scikit-learn==1.7.1
#keras==3.11.3
#tensorflow==2.20.0
plotly==6.3.0
xgboost==3.0.4
pathlib==1.0.1
dotenv==0.9.9
fastapi==0.116.1
uvicorn==0.35.0
joblib==1.5.1
